tqdm~=4.66.1
spacy~=3.7.2
numpy~=1.26.4
pandas~=2.2.0
psutil~=5.9.8
PyYAML~=6.0.1
scipy~=1.12.0
pillow~=10.2.0
pathlib~=1.0.1
shapely==2.0.3
requests==2.31.0
streamlit~=1.30.0
pdf2image~=1.16.3
paddleocr~=2.7.0.3
setuptools~=68.2.2
ultralytics~=8.1.8
pytesseract~=0.3.10
thop~=0.1.1-2209072238
opencv-python~=4.9.0.80


torch~=2.0.1
torch-utils~=0.1.2
torchvision~=0.15.2
torchaudio~=0.13.1+cu116
